/**
 * Border radius
 */

.btn, .jumbotron, .nav:hover {
    border-radius: 0px;
}

/**
 * Card Badge
 */
.cart-badge, .cart-badge:hover {
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    background: black;
}

/**
 * Border radius
 */

.jumbotron {
    width: 30wh;
    height: 25vh;
}

.card {
    max-width:400px;
}

.card a{
    color: #fff;
}

a.nav-link {
    color: rgb(53, 52, 52);
}

.card.product-view {
    max-width:unset;
}

.product-img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/**
 * single product page - product name
 */

.name {
    background: rgb(51, 29, 129);
    color: #fff;
    font-weight: bold;
}

/* black shade from 10-1 */
.black-10 {
    background: #f2f2f2;
}
.black-9 {
    background: #e6e6e6;
}
.black-8 {
    background: #d9d9d9;
}
.black-7 {
    background: #cccccc;
}
.black-6 {
    background: #bfbfbf;
}
.black-5 {
    background: #b3b3b3;
}


.jumbotron.default {
    background: linear-gradient(-45deg, #3f37af, #5861b1, #235668, #386e62);
    color: #fff;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

.jumbotron.home {
    background: linear-gradient(-45deg, #6252ee, #356641, #240988, #11570b);
    color: #fff;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;  
}

.jumbotron.signup {
    background: linear-gradient(-45deg, #3eb39f, #356641, #09881e, #149409);
    color: #fff;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;  
}

.jumbotron.signin {
    background: linear-gradient(-45deg, #551c26, #913d64, #88095e, #94094a);
    color: #fff;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;  
}
 
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}